body{
    background-image: url("../images/portfolio-bcg.png");
    background-repeat: repeat;
    background-size: 500px;
}

#main_body_panel{
    width: 90%;
    margin-top: 10%;
    /* Allows the panel to align at the center */
    margin-left: auto;
    margin-right: auto;
    position: relative;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #ffffffdf;
}

#side_a{
    float: left;
    display: inline-block;
    width: 30%;
}

#side_b{
    float: right;
    width: 70%;
}

.panel-heading{
    padding-bottom: 0;
}

#about_me>.panel-heading{
    background: antiquewhite;
}

#contact_me ,#related_content{
    margin: 10px 20px 10px 10px;
}

#contact_me>.panel-heading{
    background: lightskyblue;
}

li>h4{
    display: inline-block;
    margin-left: 10px;
}

.github-project-clicked {
    background-color: darkolivegreen!important;
    border-color: olivedrab!important;
 }

.app-clicked{
    background-color: mediumpurple!important;
    border-color: palevioletred!important;
}

.app-description{
    display: inline-block;
    float: left;
    width: 70%;
}

.rel-content-click{
    background-color: burlywood!important;
    border-color: darksalmon!important;
}

.app-image{
    float: left;
    display: inline-block;
    padding-left: 0;
    width: 30%;
}

.list-descriptions-container{
    width: inherit!important;
}

.panel-body>.list-group{
    margin:0;
}