body {
    color: white;
    background: url("../img/argyle.png") repeat;
    background-attachment: fixed;
}

.general-card {
    background: linear-gradient(to right bottom, rgba(129, 129, 129, 0.6), rgba(128, 124, 126, 0.6), rgba(129, 118, 127, 0.6), rgba(125, 114, 106, 0.6), rgba(112, 113, 98, 0.6));
    box-shadow: 0 0 1rem 0 rgba(0, 0, 0, .2);
    border-radius: 5px;

    backdrop-filter: blur(6px);
}

.info-card {
    background: rgba(33, 33, 33, 0.5);
}

.card-header {
    background: rgba(33, 33, 33, 0.5) !important;
    font-weight: bold !important;
}

.card-body {
    padding: 0;
    max-height: 500px;
}

.card-body-list > li {
    background: rgba(0, 0, 0, 0);
    color: white;
}

.card-body-list > li:hover {
    color: white;
    background: rgba(74, 74, 74, 1);
}

.card-img-top {
    position: absolute;
    top: -30px;
    height: 120px;
    width: 120px;
}

.about-info {
    text-align: center;
}

.occupation-text {
    color: white;
}

.occupation-text > a {
    color: white;
}

.occupation-text > a:hover {
    color: #008080;
}

.mail-link {
    color: #ffbf00;
}

.mail-link:hover {
    color: #ffd908;
    text-decoration: unset;
}

.skype-link {
    color: deepskyblue;
}

.skype-link:hover {
    color: #07d5ff;
    text-decoration: unset;
}

.discord-link {
    color: rebeccapurple;
}

.discord-link:hover {
    color: #8238ba;
    text-decoration: unset;
}

.linkedin-link {
    color: dodgerblue;
}

.linkedin-link:hover {
    color: #12b2ff;
    text-decoration: unset;
}

.medium-link {
    color: black;
}

.medium-link:hover {
    color: darkgray;
    text-decoration: unset;
}

.photography-link {
    color: white;
}

.photography-link:hover {
    color: lightgray;
    text-decoration: unset;
}

.instagram-link {
    color: #FC00AA;
}

.instagram-link:hover {
    color: #fc10f4;
    text-decoration: unset;
}

.github-link {
    color: black;
}

.github-link:hover {
    color: darkgray;
    text-decoration: unset;
}

.gitlab-link {
    color: darkorange;
}

.gitlab-link:hover {
    color: #ffa309;
    text-decoration: unset;
}

.bitbucket-link {
    color: blue;
}

.bitbucket-link:hover {
    color: lightskyblue;
    text-decoration: unset;
}

.content-link {
    color: inherit;
}

.content-link:hover {
    color: inherit;
    text-decoration: unset;
}